@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }

 header {
    background-color: beige;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 10px 200px ;
 }
 
 .logo{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
 }

 .navigation a{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 35px;
 }

 .navigation a:hover{
    color: blueviolet;
 }
 section.main {
    padding: 100px 190px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/image1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 400;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: brown;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
color: white;
font-size: 2em;
font-weight: 600;
letter-spacing: 1px;
margin-top: 10px;
margin-bottom: 30px;
}
.main-btn{
    color: gray;
    background-color: rgb(243, 243, 164);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
}
.main-btn:hover{
    background-color: aquamarine;
    transform: scale(1.1);
}
.social-icones a{
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
    padding-top: 10px;
}
.title {
display: flex;
justify-content: center;
color: cyan;
font-size: 2.2em;
font-weight: 800;
margin: 30px;
}
.parag {
display: flex;
justify-content: center;
font-size: 1.2em;
font-weight: 300;
}

.content {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}
.card {
background-color: rgb(225 201 201);
border-radius: 10px;
padding: 25px;
margin:15px ;
display: flex;
}
.card:hover {
transform: scale(1.1);
}
.icon {
color: chocolate;
font-size: 4em;
text-align: center;
}
.info {
text-align: center;
}
.info h3 {
color: black;
font-size: 1.2em;
font-weight: 300;
margin: 10px;
}

.projects {
    background-color: rgb(114, 110, 110);
}
.projects .content {
    margin-top: 30px;
}
.contact /.icon {
    font-size: 4.5em;
}
.contact .info h3 {
    color: black;
}
.contact .info {
    font: size 1.5em ;
}
section.message {
    background: beige;
    margin: 30px;
    display: inline-grid;
      }
section.haut {
        background: burlywood;
    }

.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    color: rgb(20, 20, 20);
    background-color: #ac0b0b;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #back-to-top:hover {
    background-color: #555555;
  }
.footer {
    background-color: black;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span {
    color: blue;
}
.footer .special-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0 ;
}

@media (max-width:1199px){
    header{
        padding: 12px 15px;
    }
    .navigation{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px; 
     }
     .main-content h2 {
        font-size: 1em;
     }
     .main-content h3 {
        font-size: 1.6em;
    
     }
     .content {
        flex-direction: column;
        align-items: center;
     }
}
@media (max-width:767px) {
    body {
        font-size:12px ;
    }
    .main-content h2 {
        font-size: 0.8em;
    }
    .main-content h3 {
        font-size: 1.4em;
    }
}

@media screen and (max-width:480px) {
    body {
        font-size: 10px;
    }
    .footer{
        font-size: 5px;
    }
    section.main{
        padding: 20px 20px;
    }
}